# CONFIG_PREEMPT is not set
CONFIG_PREEMPT_RT=y

# Disable RT_GROUP_SCHED which possibly breaks RT for user space applications
# See: https://github.com/systemd/systemd/blob/a420d71793bcbc1539a63be60f83cdc14373ea4a/README#L129
# CONFIG_RT_GROUP_SCHED is not set
